body {
  background-color: #fcfcfc;
  box-sizing: content-box;
  color: #4A4A4A;
  font-family: "IBM Plex Sans", "Avenir Next", sans-serif;
}

.header-container {
  padding: 20px 60px;
}

h1, h2 {
  text-align: center;
}

.description {
  margin: 0 auto 20px;
  max-width: 600px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6em;
}

a {
  color: #F13A59;
  text-decoration: underline,
}



.next-meetup {
  background-color: #F3DBD1;
}

.next-meetup-informations {
  display: flex;
  height: 300px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
}

.next-meetup-name {
  padding: 30px;
}

.next-meetup-name h2 {
  margin: 0;
}

.next-meetup-informations-basic {
  width: 35%;
  border-right: 1px solid #B3B3B3;
}

.next-meetup-informations-basic-highlight {
  font-weight: bold;
}

.next-meetup-informations-basic-date {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

.next-meetup-informations-basic-place {
  width: 70%;
  margin: auto;
}

.next-meetup-informations-talks {
  width: 65%;
}