body {
  background-color: #F8F9F4;
  box-sizing: content-box;
  color: #4A4A4A;
}

h1, h2 {
  text-align: center;
}

.date {
  font-family: 'IBM Plex Sans';
}

.date-day {
  color: #F13A59;
  font-size: 24px;
}

.date-month {
  font-size: 20px;
}
